# Config file for automatic testing at travis-ci.org
language: python
env:
  - PYTHON_VERSION=2.7 IPYTHON_KERNEL=python2
  - PYTHON_VERSION=3.6 IPYTHON_KERNEL=python3
before_install:
  - wget -q http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes --quiet conda
install:
  - conda create -n testenv --yes pip python=$PYTHON_VERSION
  - source activate testenv
  - pip install git+https://github.com/paris-saclay-cds/ramp-workflow.git
  - pip install -r requirements.txt
  - python download_data.py
script:
  - flake8 --ignore F812 *.py submissions/*/*.py
  - ramp_test_submission --submission starting_kit --quick-test
  # Add testing here for all additional submissions
  # but make sure to use the --quick-test option
  # to avoid everlasting feedback time.
notifications:
  email: true
